	body {
		background-color:#efefef;
		font-family:Arial, Helvetica, sans-serif;
			
	}
	
	#errordiv{
		color: red;
	}
	
	h1 {
		color: #d22b44;	
	}	
	
	#main{
		width: 998px;
		min-height: 900px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fbfbfb;
		border-style: solid;
		border-width: 1px;
		border-top-width: 0px;
		border-color:#d22b44;
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;
		text-align:center;
	}
	
	header{
		width: 998px;
		height: 90px;
		margin: 0px;
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		background-color:#fdfdfd;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		background-image:url(header.png);
		background-repeat: no-repeat;
		background-position:center center;
		background-size: 890px 90px;
	}

	#footer{
		width: 1000px;
		height: 40px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fbfbfb;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-radius:25px;
		text-align:center;
	}
	
	#menu{
		width: 1000px;
		height: 30px;
		padding: 0px;
		margin: 0px;
		margin-left: auto;
		margin-right: auto;
		border-spacing: 0px;
		
	}
	
	#adminmenu{
		width: 1000px;
		height: 30px;
		padding: 0px;
		margin: 0px;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
		border-spacing: 0px;
	}
	
	#adminmenuitem{
		width: 100px;
		height: 40px;
		text-align: center;
		color: #000;
      	border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
      	background-color: #bgbgbg;
		margin: 0px;
		padding: 0px;
		border-spacing: 0px;
		cursor:pointer;
		font-weight: bold;
	}
	
	#adminmenuitemselected{
		width: 100px;
		height: 40px;
		text-align: center;
		color: #000;
     	border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
      	background-color: #d22b44;
		margin: 0px;
		padding: 0px;
		border-spacing: 0px;
		cursor:pointer;
		font-weight: bold;
	}
	
	#menuitem{
		width: 100px;
		height: 40px;
		text-align: center;
		color: #000;
      border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-style: solid;
		border-width: 1px;
		border-top-width: 0px;
		border-color:#d22b44;
      background-color: #fbfbfb;
		margin: 0px;
		padding: 0px;
		border-spacing: 0px;
		cursor:pointer;
		font-weight: bold;
	}
	
	#menuitemselected{
		width: 100px;
		height: 40px;
		text-align: center;
		color: #000;
      border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-style: solid;
		border-width: 1px;
		border-top-width: 0px;
		border-color:#d22b44;
      background-color: #d22b44;
		margin: 0px;
		padding: 0px;
		border-spacing: 0px;
		cursor:pointer;
		font-weight: bold;
	}

	#bodyrightdiv{
		min-height: 300px;
		width: 425px;
		margin: 20px;
		margin-left: auto;
		margin-right: 50;
		background-color: #efefef;
		text-align: centre;
		float: right;
		border-style: solid;
		border-width: 1px;
		border-color: #d22b44;
		border-radius:25px;
	}
	
	#bodyleftdiv{
		height: 300px;
		width: 425px;
		margin: 20px;
		margin-left: 50;
		margin-right: auto;
		background-color: #efefef;
		text-align: centre;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-radius:25px;
		float:left;
	}
	
	#internalleft{
		height: 190px;
		width: 180px;
		margin: 20px;
		margin-top: auto;
		margin-right: auto;
		background-color: #efefef;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-radius:10px;
		float: left;		
	}
	
	#smallfont{
		font-size: 50%;
	}
	
	#hightext{
		line-height: 145%;
	}
	
	#internalright{
		height: 190px;
		width: 180px;
		margin: 20px;
		margin-top: auto;
		margin-left: auto;
		background-color: #efefef;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-radius:10px;	
		float: right;	
	}
	
	#producttable {
		margin: 20px;
		margin-left: auto;
		margin-right:auto;
		border-style: solid;
		border-width: 1px;
		border-color: #d22b44;	
		border-spacing: 0px;
		text-align: center;
	}
	
	#productfirstrow {
		background-color: #e23b54;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;	
	}
	
	#producttd{
		height: 30px;
		background-color: #efefef;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;	
	}
	
	

	a:link {text-decoration:none; color: #d22b44; }
	a:visited {text-decoration:none; color: #d22b44;}
