body {
		background-color:#efefef;
		font-family:Arial, Helvetica, sans-serif;
			
	}
	
	h1 {
		color: #d22b44;	
	}
	
	#error{
		color: red;
	}
	
	
	#main{
		width: 1000px;
		height: 970px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fbfbfb;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-radius:25px;
		text-align:center;
	}
	
	header{
		width: 998px;
		height: 90px;
        margin: 0px;
        padding: 0px;
		margin-left: auto;
		margin-right: auto;
		background-color:#fdfdfd;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		background-image:url(header.png);
		background-repeat: no-repeat;
		background-position:center center;
		background-size: 890px 90px;
	}
	
	#menu{
		width: 1000px;
		height: 30px;
		padding: 0px;
		margin: 0px;
		margin-left: auto;
		margin-right: auto;
		border-spacing: 0px;
		
	}
	
	#menuitem{
		width: 100px;
		height: 40px;
		text-align: center;
		color: #000;
        border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-style: solid;
		border-width: 1px;
		border-top-width: 0px;
		border-color:#d22b44;
        background-color: #fbfbfb;
		margin: 0px;
		padding: 0px;
		border-spacing: 0px;
		cursor:pointer;
		font-weight: bold;
	}
	
		#menuitemselected{
		width: 100px;
		height: 40px;
		text-align: center;
		color: #000;
        border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-style: solid;
		border-width: 1px;
		border-top-width: 0px;
		border-color:#d22b44;
        background-color: #d22b44;
		margin: 0px;
		padding: 0px;
		border-spacing: 0px;
		cursor:pointer;
		font-weight: bold;
	}

	#bodyrightdiv{
		height: 300px;
		width: 425px;
		margin: 20px;
		margin-left: auto;
		margin-right: 50;
		background-color: #efefef;
		text-align: centre;
		float: right;
		border-style: solid;
		border-width: 1px;
		border-color: #d22b44;
		border-radius:25px;
	}
	
	#bodyleftdiv{
		height: 300px;
		width: 425px;
		margin: 20px;
		margin-left: 50;
		margin-right: auto;
		background-color: #efefef;
		text-align: centre;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-radius:25px;
		float:left;
	}
	
	#image {
		height: 600px;
		width: 900px;
		margin-top: 350px;
		margin-left: 50;
		margin-right: 50;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		border-radius:25px;
		background-image: url(cafetaria.png);
		background-repeat: no-repeat;
		background-position:center center;
		background-size: 900px 600px;
			
	}
	
	#producttable {
		margin: 50px;
		margin-left: auto;
		margin-right:auto;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;	
		border-spacing: 0px;
	}
	
	#productfirstrow {
		background-color: #d22b44;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		text-align: center;	
	}
	
	#productlefttd{
		width: 400px;
		height: 30px;
		background-color: #efefef;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;
		padding-left:30px;	
	}
	
	#productrighttd{
		width: 100px;
		height: 30px;
		background-color: #efefef;
		border-style: solid;
		border-width: 1px;
		border-color:#d22b44;	
	}

	

	a:link {text-decoration:none; color: #000; }
	a:visited {text-decoration:none; color: #000;}
